@media screen and (max-width: 1200px) {
    //bloG posts
    .section-blog-posts .section-feature-collection {
        padding: 50px;
    }

    .section-blog-posts-content {
        max-width: 1100px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .section-blog-posts-box {
        width: 46%;   
        height: 100%;
        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    // header
    .nav {
        margin: 0 30px;
    }

    .nav-left__list,
    .nav-right__list {
        display: none;
    }

    .nav__icon {
        display: block;
        height: 100%;
    }

    .slide--box {
        left: 30px;
    }

    //3 
    .section-new-color.section__main {
        padding: 80px 0;
    }

    // 2
    .section-collection-list {
        height: 500px;
    }

    // 4 
    .section-collection-list-box {
        bottom: 60px;
    }

    // 5
    .section-stock.section__main {
        padding: 80px 0;
    }

    .product__text .product__title {
        line-height: 1.6;
    }

    //6
    .section-timeline-container {
        margin: 80px 50px;
    }

    .section-years {
        margin-top: 40px ;
    }

    // 7 
    .section-shop-the-look.section__main {
        padding: 50px;
    }

    .section-shop-the-look .swiper-container {    
        max-width: 900px;
    }

    
    .section-shop-the-look .swiper-button-next,
    .section-shop-the-look .swiper-button-prev {
        display: none;
    }

    .shop-inner {
        width: 100%;
        margin: 0 auto;
    }

    .shop-box-right {
        display: none;
    }

    .section-shop-the-look .swiper-slide{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .section-shop-the-look .swiper-slide {
        width: 75%;
    }

    .section-shop-the-look__btn {
        display: inherit;
        margin-top: 40px;
     }   

    // 8
    .section-blog-posts.section__main {
        padding: 80px 50px;
    }

    .section-blog-posts__img {
        max-height: 40%;
    }

    .section-blog-posts-box {
        width: 46%;   
        height: 100%;
        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }

    .section-blog-posts__text {
        margin: 40px 20px 20px 0;
    }
    

    // 10 
    .section-leather {
        height: 500px;
    }

    // 12 
    .section-brand-intro {
        height: 500px;
    }

    
}

@media screen and (max-width: 800px) {
    // head

    .slide--box {
        position: absolute;
        bottom: -40px;
    }
    
    .slide-header .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        bottom: 60px;
    }

    .section__main {
        padding: 50px;
    }

    // 2 
    .section-collection-list-box {
        bottom: 80px;
    } 

    // 3
    .section-product__list .product__item {
        width: 50%;
        &:not(:last-child) {
            // margin-bottom: 50px;
        }
    }

    .section-new-color.section__main {
        padding: 50px 0;
    }

    // 5
    .section-stock.section__main {
        padding: 50px 0;
    }

    .section__btn {
        margin-top: 50px;
    }

    // 6 ???

    // 7
    .section-shop-the-look.section__main {
        padding: 50px 30px;
    }

    .section-shop-the-look__btn {
        display: block;
        width: 100%;
        margin-top: 0px;
     }   

    // 8
    .section-blog-posts.section__main {
        padding: 50px;
    }

    .section__text {
        margin-bottom: 50px;
    }

    .section-blog-posts-container {
        width: 100%;
    }

    .section-blog-posts-box {
        width: 100%;
        margin: 0;
        & img {
            height: 100%;
        }
        &:not(:last-child) {
            margin: 0 0 40px 0;
        }
    }

    .section-blog-posts__img {
        max-height: 100%;
    }

    .section-blog-posts.section__main .section__btn {
        margin-top: 30px;
    }

    // 9
    .section-product-of-month.section__main {
        padding: 50px 0;
    }

    .section-month-box-left {
        width: 100%;
        text-align: center;
    }

    .section-month-box-right {
        text-align: center;
        margin: 0 30px;
        width: calc(100% - 60px);
    }

    .section-product-of-month-container {
        flex-direction: column;
    }

    // 10
    .section-leather-box {
        width: 166px;
        height: 216px;
        padding: 0 20px;
    }

    .section-leather-box__desc {
        font-size: 1.2rem;
    }

    .section-leather-box a {
        font-size: 1.2rem;
    }

    .section-month-box-right__name--color,
    .section-month-box-right__size div,
    .section-month-box-right__noti {
        text-align: left;
    }

    // 13
    .section-leather-artisans {
        flex-direction: column;
    }

    .section-leather-artisans-box {
        width: 100%;
    }

    .section-leather-artisans-left {
        text-align: center;

        margin-top: 50px;
    }

    .section-leather-artisans-text {
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .section-blog-posts.section__main {
        padding: 50px 30px;
    }
}