@media screen and (max-width: 1023px) {
    .nav {
        margin: 0 30px;
    }

    .nav-left__list,
    .nav-right__list {
        display: none;
    }

    .nav__icon {
        display: block;
        height: 100%;
    }

    .slide--box {
        left: 30px;
    }

}