.content {
    background-color: #efefef;
}

// section-feature-collection
.section-feature-collection {
    padding: 80px 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__text {
    // margin-top: 100px;
}

.section__title {
    font-size: 1.2rem;
    letter-spacing: 2.4px;
    color: #1c1b1b;

    margin-bottom: 16px;
}

.section__gender{
    font-size: 2rem;
    
    letter-spacing: 4px;
}

.section__gender a {
    color: #1c1b1b;
    text-decoration: none;
    margin: 0 15px;

    &:first-child {
        border-bottom: 2px solid black;
        
    }
}

// slide
.slide-content {
    width: 100%;
}

.swiper-container {
    // margin: 0 80px;
}

.product{
    max-width: 1500px;
    margin: 0 auto;
}

.product__list { 
    margin: 60px 50px 0 50px;
    display: flex;
}

.product__item {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

.product__img {
    &:hover {
        & .product__img2{
            display: block;
        }
        & .product__img1{
            display: none;
        }
    }
}

.slide-content img {
    width: 90%;
    transition: all 1s linear;
}

.product__img2 {
    display: none;
}

.product__title {
    margin-top: 20px;
    margin-bottom: 10px;

    color: #1c1b1b;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.product__price {
    color: #1c1b1b;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.section-feature-collection__btn {
    margin-top: 70px;
}

// section-collection-list
.section-collection-list {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.section__img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/collections/grand-sac-collection_f9995533-f4ef-4437-bed5-def3c64a91fc_1500x.jpg?v=1522427539');
    background-size: cover;
    transition: all 20s linear;
    
    &:hover {
        transform: scale(1.5);
    }
}

.section-box {
    position: absolute;
    bottom: 40px;
    margin-left: 50px;
}

.section-box__desc {
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2.4px;
}

.section-box__title {
    font-size: 2rem;
    color: white;
    letter-spacing: 4px;
    margin-top: 30px;
}

.section__desc {
    font-size: 2rem;
    letter-spacing: 4px;
}

.section-collection-list__btn {
    margin-top: 40px;
}

.section-collection-list__img .section__img {
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/collections/double-pochette-collection_1500x.jpg?v=1522430510');
}

//section-timeline 
.section-timeline {
    width: 100%;

    border-top: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-timeline-container {
    margin: 80px;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
}

.section-content__box {
    max-width: 50%;
    height: 516px;
    background-color: #fff;
}

.section-content__image {
    width: 100%;
}

.section-content__img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Step-1_1000x.jpg?v=1522687069');
    background-size: cover;
}

.section-content__info {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-content__top {
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.section-content__title {
    font-size: 2rem;
    letter-spacing: 4px;
    margin: 20px 0 30px 0;
}

.section-content__desc {
    font-size: 1.4rem;
}

.section-years {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    & ul {
        list-style: none;
        
        display: flex;
    }
    
    & li {
        margin: 20px;
        display: flex;
        align-items: center;
    }

    & a {
        display: inline-block;

        color: black;
        font-size: 1.2rem;
        text-decoration: none;
        letter-spacing: 2.4px;        
    }
}

a.section-years__active {
    font-size: 1.8rem;
    border-bottom: 4px solid black;
}

// shopify-section-shop-the-look
.shopify-section-shop-the-look {
    border-top: 1px solid #000;
}

.shopify-section-shop-the-look .section-feature-collection {
    padding: 0;
    padding-top: 80px;
}

.shopify-section-shop-the-look .section-content__box {
    background-color: unset;
}

.shopify-section-shop-the-look .section-content {
    display: flex;
    justify-content: center;

    margin: 0 50px;
}

.shopify-section-shop-the-look .section-content__info {
    padding: 30px 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopify-section-shop-the-look .section-feature-collection__btn {
    margin-top: 30px;
}

.section-content__image img {
    width: 100%;
    height: 100%;
}

.section-content-product img {
    width: 250px;
}

.section-content-product img:last-child {
    display: none;
}

.section-content__dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    // border: 1px solid #fff;
    background-color: #000;
}


.footer {
    height: 300px;
    background-color: burlywood;
}
