.btn {
    position: relative;
    padding: 14px 28px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    letter-spacing: 2.4px;
    
    &::before {
      position: absolute;
      content: "";
      background: white;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: scale(1, 1);
      transform-origin: left center;
      z-index: -1;
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:hover{
        color: #fff;
        border: 1px solid white;
        &::before {
            transform-origin: right center;
            transform: scale(0, 1);
        }
    }
}

.btn--white {
    border: 1px solid white;
    color: black;
    &::before {
        background: white;
    }
    &:hover{
        color: #fff;
        border: 1px solid white;
    }
}

.btn--black {
    border: 1px solid black;
    color: white;
    &::before {
        background: black;
    }
    &:hover{
        color: #000;
        border: 1px solid black;
    }
}

.section__btn-secondary a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;

    position: relative;
    &::after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;

        position: absolute;
        bottom: -6px;
        left: 0px;

        transition: all 0.15s linear;
    }

    &:hover::after {
        width: 0;
    }
}