@import '../layout/navTablet/navbars';
@import '../layout/navTablet/navCart';

.top-bar {
    height: 40px;
    background-color: black;
    color: $primary-color;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
}

/* menu */
.main-nav {
    // position: sticky;
    // top: 0;
    position: absolute;

    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(150, 150, 150);

    transition: all 1s;
    z-index: 3;
    &:hover {
        background-color: $primary-color;

        & .nav__link {
            color: black;
        }

        & .brand__img--black {
            display: block;

            animation: fadeIn ease-in 0.2s;
        }

        & .brand__img--white {
            display: none;
        }

        & .nav__icon--header {
            color: black;
        }

        & .nav-right__list svg {
            color: black;
        }
    }  
}

.main-nav.main-nav__sticky {
    position: fixed;
    top: 0;
    background-color: white;

    & .nav__link {
        color: black;
    }

    & .brand__img--black {
        display: block;

        animation: fadeIn ease-in 0.2s;
    }

    & .brand__img--white {
        display: none;
    }

    & .nav__icon--header {
        color: black;
    }

    & .nav-right__list svg {
        color: black;
    }
}

.nav {
    margin: 0 50px;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
}

/* Nav logo*/

.nav-logo {
    display: flex;
    align-items: center;
}

.brand__img--black {
    display: none;
}

/* nav left*/

.nav-left {

}

.nav-left__list {
    display: flex;

    height: 80px;
    line-height: 80px;

    font-size: 1.2rem;
    list-style-type: none;

    margin-left: -20px;
    margin-right: -20px;
}

.nav-left .nav-left__item {
    margin: 0 20px;

    &>a::before {
        display: block;
        content: '';

        position: absolute;
        top: 46px;

        border-bottom: solid 3px $color-black;

        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    &>a:hover {
        &::before {
            width: 100%;

            transform: scaleX(1);
            transform-origin: 0% 50%;
        }
    }
}

.nav__link {
    display: inline;

    position: relative;

    margin: 0;

    text-decoration: none;
    letter-spacing: 2.4px;
    color: $primary-color;

    transition: all .3s;
}

/* nav mega menu desktop*/

.nav-left__item--dropdown:hover .mega--menu {
    display: block;
}

.mega--menu {
    display: none;
    opacity: 1;

    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;
    height: 340px;

    background-color: #fff;
    border-top: 1px solid #333;

    animation: fadeIn ease-in 0.2s;
}


.col-12 {
    display: flex;

    max-width: 1400px;
    margin: 50px auto;
}

.col-6 {
    display: flex;
    
    width: 50%;
}

.sub--menu {
    width: 33.3333%;
}

.sub--menu__item {
    list-style: none;
    margin-bottom: 16px;
    line-height: 1.2;
}

.sub--menu__link {
    color: $color-black;
    text-decoration: none;
    font-size: 1.4rem;
}

.sub--menu__box {
    display: flex;
    
}

.sub--box__item {
    width: 50%;
    max-height:85%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover img{
        transform: scale(1.3);
    }
}

.sub--box__item:nth-child(1) {
    margin: 0 15px 0 0;
}

.sub--box__item:nth-child(2) {
    margin: 0 0 0 15px;
} 

.sub--box__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sub--menu__box img {
    width: 100%;
    height: 100%;
    transition: all 10s;
}

.sub--box__text {
    line-height: 20px;
    text-align: center;
}

.sub--box__brand {
    font-size: 1.2rem;
    letter-spacing: 2.4px;
    margin: 20px 0 6px 0;
}

.sub--box__title {
    font-size: 1.1rem;
    letter-spacing: 2.4px;
}

/* nav right */

.nav-right {

}

.nav-right__list {
    display: flex;

    height: 80px;
    line-height: 80px;

    // font-size: 1.4rem;
    list-style-type: none;

    margin-left: -20px;
    margin-right: -20px;
}

.nav-right .nav-right__item {
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 500;
}

.nav-right--money {
    display: flex;
    position: relative;
}

#nav-right__item--click:checked ~.nav--right__sub-menu {
    display: block;
}

.nav--right__sub-menu {
    display: none;

    width: 108px;
    height: 142px;
    background-color: white;

    position: absolute;
    top: 64px;
    left: -4px;

    box-shadow: -3px -3px 1px rgba(0,0,0,0.1);
    &::before {
        content: "";
        border-width: 10px 10px;
        border-style: solid;
    
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 44px;
        top: -20px; 
    }
}
.sub--right__list {
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.sub--right__item {
    line-height: initial;
}

.sub--right__link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

svg {
    width: 10px;
    margin-left: 10px;
    color: white;
}

// nav icon right tablet 

.nav-right__icon {
    display: flex;
}

.nav__icon {
    line-height: 90px;
    display: none;
    & svg {
        width: 20px;  
    }
}

.icon__search {
    margin-right: 10px;
}

