@import '../../libs/mixin';

.slide-header .swiper-container {
    width: 100%;
    height: 90vh;  
    position: relative;
}

.slide-header .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    position: absolute;
    bottom: 80px;
    right: 50px;
}

.slide-header .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
}

.slide-header .swiper-pagination-bullet-active {
    background-color: white;
}

.slide-header .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide__img {
    width: 100%;
    height: 100%;
}

.slide1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-4_1600x.jpg?v=1522679094');
    background-position: center;
}

.slide2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-2_1600x.jpg?v=1522679081');
    background-position: center;

}

.slide3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Slide-7_1600x.jpg?v=1522679098');
    background-position: center;
}


.slide--box {
    position: absolute;
    bottom: 0;
    left: 70px;
    
    z-index: 0;
}

.slide__desc {
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
}

.slide__title {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2.4px;
    margin-bottom: 46px;
}

.slide-header .btn {
    margin-right: 16px;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveScale {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

