.footer {
    width: 100%;
    height: 100%;
}

.main-footer {
    padding: 80px;
}

// Footer-top
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

*, *:before, *:after {
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-top-style {
    box-sizing: border-box;
    margin-bottom: 50px;
    
    flex: 0 1 auto;

    &:not(:last-child){
        padding: 0 80px 0 0;
    }
}

.footer-intro {
    flex-basis: 460px;
    flex-grow: 1;
}

.footer__header {
    @include sectiondesc;
}

.footer__desc {
    font-size: 1.3rem;
}

.footer ul {
    margin-top: 20px;
}

.footer li {
    list-style: none;
    padding: 0 0 10px 0;
}

.footer a {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

.footer-shop {
    flex-grow: 1;
}

.footer-info {
    flex-grow: 1;
}

.footer__desc {
    line-height: 1.4;

    margin: 20px 0 16px 0;

    max-width: 350px;
}

.footer-intro__logo {
    display: flex;

    margin-top: 20px;

    & li {
        padding-right: 16px;
    }

    & a {
        font-size: 1.8rem;
        color: rgb(124, 124, 124);

        &:hover {
            color: black;
        }
    }
}

.footer-news {
    flex-basis: 200px;
    flex-grow: 1;
    width: 350px;
}

.footer-news input {
    outline: none;
    width: 350px;
    height: 40px;
    padding-left: 8px;
}

.footer-news__btn {
    margin-top: 16px;
    margin-bottom: 50px;
    display: flex;
}


// footer-bottom

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.footer-bottom--left {

}

.footer-bottom__header {

    @include sectiondesc;   
}

.footer-bottom__desc {
    font-size: 1.4rem;
    margin-top: 8px;
}

.footer-bottom--right {

}

.footer-bottom--right__list {
    display: flex;

    & svg {
        width: 38px;
    }
}

.footer-money {
    position: relative;

    & svg {
        color: black;
    }
}

.footer-money__link {

}

#footer-money--checked:checked ~ .footer-money__sub-menu {
    display: block;
}

#footer-money--checked:checked ~ .footer-money-overlay {
    display: block;
}

.footer-money-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: none;
    animation: fadeIn linear 0.2s;
}

.footer-money__sub-menu {
    display: none;

    width: 108px;
    height: 142px;
    background-color: white;

    position: absolute;
    top: -156px;
    left: -4px;

    box-shadow: 0 -2px 10px rgba(54, 54, 54, 0.2);
    z-index: 1;
    &::before {
        content: "";
        border-width: 10px 10px;
        border-style: solid;
    
        border-color:blue transparent  transparent transparent;
        position: absolute;
        left: 44px;
        top: 100%; 
    }
}

.footer-money__sub__item {
    text-align: center;
}

// alsuhfp

.footer-money__sub-header {
    display: none;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 52px;
    border-bottom: 1px solid #333;
}

.footer-money__sub-close {
    position: absolute;
    left: 0;

    & svg {
        width: 16px;
    }
}

.footer-money__sub-currency {
    font-size: 2rem;
}