//section-timeline 
.section-timeline {
    width: 100%;

    border-top: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-timeline-container {
    margin: 80px;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
}

.section-content__box {
    max-width: 50%;
    height: 516px;
    background-color: #fff;
}

.section-content__image {
    width: 100%;
}

.section-content__img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cdn.shopify.com/s/files/1/0011/6680/3007/files/Step-1_1000x.jpg?v=1522687069');
    background-position: center;
    background-size: cover;
}

.section-content__info {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-content__top {
    @include sectiondesc;
}

.section-content__title {
    margin: 20px 0 30px 0;
    
    @include sectionTitle;
}

.section-content__desc {
    font-size: 1.4rem;
}

.section-years {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    & ul {
        list-style: none;
        
        display: flex;
    }
    
    & li {
        margin: 20px;
        display: flex;
        align-items: center;
    }

    & a {
        display: inline-block;
        text-decoration: none;
        
        @include sectiondesc;      
    }
}

a.section-years__active {
    font-size: 1.8rem;
    border-bottom: 4px solid black;
}
