// section-blog-posts
.section-blog-posts {
    border-top: 1px solid #333;
}

.section-blog-posts-container {
    max-width: 1300px;

    margin: 0 auto;
}

.section-blog-posts-content {
    margin: 0;
    display: flex;
}

.section-blog-posts-box {
    width: 33.3333%;

    &:not(:last-child) {
        margin: 0 60px 0 0;
    }
}

.section-blog-posts__img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.section-blog-posts__img img{
    width: 100%;
    height: 100%;

    transition: all 5s linear;

    &:hover {
        transform: scale(1.5);
    }
}

.section-blog-posts__text {
    margin: 40px 20px 20px 20px;
    // height: 190px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-blog-posts__header {
    @include sectiondesc;
}

.section-blog-posts__title {
    margin: 20px 0;
    
    @include sectionTitle;
}

.section-blog-posts__desc {
    font-size: 1.3rem;

    margin-bottom: 20px;
}