.section-product {
    border-top: 1px solid #333;
}
.section-product-container {
    max-width: 880px;
    max-height: 100%;
    margin: 0 auto;

    display: flex;
}

.section-product-left {
    display: flex;
    justify-content: flex-end;

    max-width: 100%;
    max-height: 100%;
}

.section-product-left__img {
    width: 100%;
    height: 100%;

    & img {
        max-width: 100%;
        max-height: 100%;

        &:last-child {
            display: none;
        }
    }
}

.section-product-right {
    width: 400px;
    height: 100%;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-product__title {
    @include sectionTitle;
}

.section-product__price {
    font-size: 2rem;
    letter-spacing: 2px;

    margin: 16px 0 22px 0;
}

.section-product-color__title {
    font-size: 1.6rem;
}

.section-product-color__btn {
    display: flex;
    
    margin: 8px 0 24px 0;
}

.btn-box {
    width: 44px;
    height: 44px;
    
    margin-right: 15px;
}

//border
.btn-box--active.btn-box-blue {
    border: 1px solid #20263b;
}

.btn-box--active.btn-box-black {
    border: 1px solid #2c2c2f;
}

.btn-box1 {
    width: 36px;
    height: 36px;

    background-color: #20263b;
    transform: translate(3px, 3px);
}

.btn-box2 {
    width: 36px;
    height: 36px;

    background-color: #2c2c2f;
    transform: translate(3px, 3px);
}

.section-product__size {
    & div {
        font-size: 1.6rem;
    }
}

.section-product__size button{
    width: 100%;   
    height: 44px; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0 24px 0;

    & span {
        padding-left: 12px;
    }

    & svg {
        margin-right: 12px;
        color: black;
    }
}

.section-product__noti {
    font-size: 1.4rem;
    color: rgb(126, 126, 126);
}

.section-product__btn {
    margin: 30px 0 40px 0;

    & a {
        display: block;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}