// section-blog-posts
.section-blog-posts {
    border-top: 1px solid #333;
}

.section-blog-posts-container {
    width: 100%;
}

.section-blog-posts-content {
    padding-top: 80px;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
}

.section-blog-posts-box {
    width: 33.3333%;
    margin: 0 30px;
}

.section-blog-posts__img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.section-blog-posts__img img{
    width: 100%;
    height: 100%;

    transition: all 5s linear;

    &:hover {
        transform: scale(1.5);
    }
}

.section-blog-posts__text {
    margin: 20px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-blog-posts__header {
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.section-blog-posts__title {
    font-size: 2rem;
    letter-spacing: 4px;
    margin: 20px 0;
}

.section-blog-posts__desc {
    font-size: 1.3rem;
}

.section-blog-posts__btn {
    margin: 30px 20px 0 20px;
}

.section-blog-posts__btn a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;

    position: relative;
    &::after {
        display: inline-block;
        content: '';
        width: 62px;
        height: 1px;
        background-color: black;

        position: absolute;
        bottom: -6px;
        left: 0px;

        transition: all .3s linear;
    }

    &:hover::after {
        width: 0;
    }
}