.content {
    background-color: #efefef;
}

// section-feature-collection
.section-feature-collection {
    padding: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-feature-collection__header {
    text-align: center;

    font-size: 1.2rem;
    letter-spacing: 2.4px;
    color: #1c1b1b;

    margin-bottom: 16px;
}

.section-feature-collection__gender{
    font-size: 2rem;
    
    letter-spacing: 4px;
}

.section-feature-collection__gender a {
    color: #1c1b1b;
    text-decoration: none;
    margin: 0 15px;

    &:first-child {
        border-bottom: 2px solid black;
        
    }
}

// slide
.slide-content {
    width: 100%;
}

.slide-content .swiper-container {
    width: 100%;
  }

.slide-content .swiper-wrapper {
    
}

.slide-content div.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-content .product__item {

}

.product__img {
    & a {
        display: flex;
        justify-content: center;
    }
    &:hover {
        & .product__img2{
            display: block;
        }
        & .product__img1{
            display: none;
        }
    }
}

.slide-content img {
    width: 80%;
}

.product__img2 {
    display: none;
}

.product__text {
    text-align: center;
    padding: 0 20px;
}

.product__title {
    margin-top: 20px;
    margin-bottom: 10px;

    color: #1c1b1b;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.product__price {
    color: #1c1b1b;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
}

.slide-content .swiper-button-move {
    background-color: white;
    color: black;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    box-shadow: rgba(54, 54, 54, 0.2) 0px 2px 10px 0px;
    --swiper-navigation-size: 20px;
}

.section-feature-collection__btn {
    margin-top: 70px;
}